doctype html
html.no-js
  head
    meta(charset='utf-8')
    |     
    title My Webapp
    |     
    meta(name='description', content='')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    
    //- meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi") 

    link(rel='stylesheet', href='styles/vendor.css')
    // build:css styles/vendor.css 
    // bower:css 
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower 
    // endbuild 
    // build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    // endbuild 
  |   
  body
    //if lt IE 10
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    |     
    .container
      .header
        ul.nav.nav-pills.pull-right
          //- li.active
            a(href='#') Home
          li
            a(href='#' data-toggle="modal" data-target="#about") About
          //- li
            a(href='#') Contact
        |         
        h3.text-muted All Scholarships RRC
      |      
      block content
      |       
      .footer
        p &hearts; from <a href="ninefinecode.com">ninefinecode.com</a>
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    script(src='scripts/vendor.js')
    // build:js scripts/vendor.js 
    // bower:js 
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower 
    // endbuild 
    script(src='scripts/plugins.js')
    // build:js scripts/plugins.js 
    script(src='/bower_components/bootstrap/js/affix.js')
    |     
    script(src='/bower_components/bootstrap/js/alert.js')
    |     
    script(src='/bower_components/bootstrap/js/dropdown.js')
    |     
    script(src='/bower_components/bootstrap/js/tooltip.js')
    #__bs_notify__(style='display: none; padding: 15px; font-family: sans-serif; position: fixed; font-size: 0.9em; z-index: 9999; right: 0px; top: 0px; border-bottom-left-radius: 5px; margin: 0px; color: white; text-align: center; background-color: rgb(27, 32, 50);')
    |     
    script(src='/bower_components/bootstrap/js/modal.js')
    |     
    script(src='/bower_components/bootstrap/js/transition.js')
    |     
    script(src='/bower_components/bootstrap/js/button.js')
    |     
    script(src='/bower_components/bootstrap/js/popover.js')
    |     
    script(src='/bower_components/bootstrap/js/carousel.js')
    |     
    script(src='/bower_components/bootstrap/js/scrollspy.js')
    |     
    script(src='/bower_components/bootstrap/js/collapse.js')
    |     
    script(src='/bower_components/bootstrap/js/tab.js')
    // endbuild 
    // build:js scripts/main.js 
    script(src='scripts/main.js')
    // endbuild 
